<%= link_to "", params.merge({days: params[:days] - 1}),
  id: "yesterday" %>

<span id="human-today">Loading…</span>

<% if params[:days] && params[:days] != 0 %>
  <%= link_to "", params.merge({days: 0}),
    id: "today",
    class: params[:days] > 0 ? "back-to-today" : "forward-to-today" %>
<% end %>

<a id="download-background-image" href="#" target="_blank" download>
  Download Image
</a>

<%= link_to "", params.merge({days: params[:days] + 1}),
  id: "tomorrow" %>

<div class="div-container">
  <div>
    <span class="big time" id="hours-today">XX:XX</span>
    <span>…today.</span>
  </div>
  <div>
    <span class="big time" id="hours-needed-today">XX:XX</span>
    <span>…to go.</span>
  </div>
  <div>
    <span>Done at:</span>
    <span class="big time" id="done-at">XX:XX</span>
  </div>
</div>

<ul id="times-and-projects">
  <li class="time-and-project">
    <span class="time"></span><span class="project"></span>
  </li>
</ul>
