<%= link_to "", params.merge({days: params[:days] - 1}),
  id: "yesterday", class:"colored-text-day" %>

<span id="human-today" class="colored-text-day">Loading…</span>

<% if params[:days] && params[:days] != 0 %>
  <%= link_to "", params.merge({days: 0}),
    id: "today",
    class:
      (params[:days] > 0 ? "back-to-today" : "forward-to-today") +
      "colored-text-day" %>
<% end %>

<a id="download-background-image" class="colored-text-day" href="#" target="_blank" download>
  Download Image
</a>

<%= link_to "", params.merge({days: params[:days] + 1}),
  id: "tomorrow", class:"colored-text-day" %>

<div class="div-container">
  <div>
    <span class="big time colored-text-day" id="hours-today">XX:XX</span>
    <span>…today.</span>
  </div>
  <div>
    <span class="big time colored-text-day" id="hours-needed-today">XX:XX</span>
    <span>…to go.</span>
  </div>
  <div>
    <span>Done at:</span>
    <span class="big time colored-text-day" id="done-at">XX:XX</span>
  </div>
</div>

<ul id="times-and-projects">
</ul>
