%a#yesterday.colored-text-day.static{href: "#"}
%a#today.colored-text-day.static{href: "#"}
%a#tomorrow.colored-text-day.static{href: "#"}
%a#last-sunday.colored-text-day.static{href: "#"}
%a#this-sunday.colored-text-day.static{href: "#"}

%span#human-today.colored-text-day Loading…

%a#download-background-image.colored-text-day.static{href: "#",
target: "_blank", download: ""} Download Image

%div.div-container
  %div
    %span#hours-today.big.time.colored-text-day XX:XX
    %span …today.
  %div
    %span#hours-needed-today.big.time.colored-text-day XX:XX
    %span …to go.
  %div
    %span Done at:
    %span#done-at.big.time.colored-text-day XX:XX

%ul#times-and-projects

