<%= link_to "", "#", id: "yesterday", class:"colored-text-day static" %>

<span id="human-today" class="colored-text-day">Loading…</span>

<%= link_to "", "#", id: "today", class: "colored-text-day static" %>

<a id="download-background-image" class="colored-text-day static"
  href="#" target="_blank" download>
  Download Image
</a>

<%= link_to "", "#", id: "tomorrow", class:"colored-text-day static" %>

<div class="div-container">
  <div>
    <span class="big time colored-text-day" id="hours-today">XX:XX</span>
    <span>…today.</span>
  </div>
  <div>
    <span class="big time colored-text-day" id="hours-needed-today">XX:XX</span>
    <span>…to go.</span>
  </div>
  <div>
    <span>Done at:</span>
    <span class="big time colored-text-day" id="done-at">XX:XX</span>
  </div>
</div>

<ul id="times-and-projects">
</ul>
