- @times.each do |hours|
  %div.color-sample{style: "width: #{100 / @times.length.to_f}%"}= hours

:javascript
  var hours = 0.0;

  $(document).ready(function() {

    $("div").each(function() {
      var thisDiv = this;
      $.ajax({
        url:"/api/sky_color?hours=" + thisDiv.innerHTML,
        dataType:"json",
        complete: function(data) {
          $(thisDiv).css("background-color", data.responseJSON.sky_color);
        }
      });
    });

    $("body").append(
      $("<input id='hours-range' type='range' min='0' max='24' step='0.05'></input>").css("width", "100vw"));
      $("#hours-range").on("input", function() {
        hours = parseFloat(this.value);
        $("#test-hours")[0].innerHTML = hours;
        changeBackgroundColor(hours);
      });
    $("body").append($("<span id='test-hours'></span>"));
    window.clearInterval(intervalID);
    $("html").css("transition", "none");
    $("*").css("margin", "0");
  });

:css
  .color-sample {
    float:left;
    display:inline-block;
    padding:0 0.5em;
    font-size:0.01em;
    height:10vh;
  }
