var updateInterval = 60000;

$(document).ready( function() {
<%#
  $.ajax({
    url: "/api/request_from_local_network.json",
    dataType: "json",
    success: function(data) {
      if (data.responseJSON === true) {
        changeBackgroundColor(new Date());
        randomPornBackground();
        window.setInterval(randomPornBackground, 40000);
      } else {
%>
  changeBackgroundColor();
  changeBackgroundImage('<%= image_path("bg5.png") %>');
  $("html").css("background-size", "cover");
  $("html").css("background-position", "top left");
  updateHarvestData(getURLParam("days"));
<%#
      }
    }
  });
%>

  window.setInterval(function() {
    changeBackgroundColor(new Date());
    updateHarvestData(getURLParam("days"));
  }, updateInterval);
});

// FIXME: There IS NO SPINNER.
function startSpinner() {
  $("html").css("background-color", "rgb(116,0,0)");
}

function stopSpinner() {
  changeBackgroundColor();
}

function changeBackgroundImage(url) {
  $("html").css("background-image", "url(\"" + url + "\")");
}

function changeBackgroundColor() {
  $.ajax({
    url:"/api/sky_color.json",
    dataType:"json",
    complete: function(data) {
      $("html").css("background-color", data.responseJSON);
    }
  });
}

function updateHarvestData() {
  $.ajax({
    url:"/api/harvest_data.json?days=" + getURLParam("days"),
    dataType:"json",
    complete: function(data) {
      var response = data.responseJSON;
      $("#human-today").html(response.human_today);
      $("#hours-today").html(response.hours_today);
      $("#hours-needed-today").html(response.hours_needed_today);
      $("#done-at").html(response.done_at);
      $("#times-and-projects").empty();
      for (var key in response.projects_and_hours_this_week) {
        $("#times-and-projects").append(
          $("<li></li>").addClass("time-and-project")
            .append($("<span></span>").addClass("time")
              .html(response.projects_and_hours_this_week[key]))
            .append($("<span></span>").addClass("project").html(" " + key))
        );
      }
    }
  });
}

<%#
function randomPornBackground() {
  $.ajax({
    url: "/api/random_porn.json",
    dataType: "json",
    success: function(data) {
      changeBackgroundImage(data);
      document.getElementById("download-background-image").href =
        data;
      $("html").css("background-size", "contain");
      $("html").css("background-position", "bottom right");
    }
  });
}
%>
