var coloredTextMode = "day";

var updateInterval = 60000;
var intervalID = null;

$(document).ready( function() {
  changeBackgroundColor();
  changeBackgroundImage('<%= image_path("bg5.png") %>');
  $("html").css("background-size", "cover");
  $("html").css("background-position", "top left");
  updateHarvestData(getURLParam("days"));
  updateColoredTextMode();

  intervalID = window.setInterval(function() {
    changeBackgroundColor();
    updateHarvestData(getURLParam("days"));
    updateColoredTextMode();
  }, updateInterval);
});

// FIXME: There IS NO SPINNER.
function startSpinner() {
  $("html").css("background-color", "rgb(116,0,0)");
}

function stopSpinner() {
  changeBackgroundColor();
}

function changeBackgroundImage(url) {
  $("html").css("background-image", "url(\"" + url + "\")");
}

// Accepts hours as a date or number (0.0 to 24)
function changeBackgroundColor(dateOrHours) {
  if (typeof dateOrHours === typeof new Date()) {
    var hours = dateOrHours.getHours() + (dateOrHours.getMinutes() / 60.0);
  } else if (typeof dateOrHours === typeof 1.0) {
    var hours = dateOrHours;
  }
  var url = "/api/sky_color.json"
  if (typeof hours === typeof 1.0) {
    url += "?hours=" + hours;
  }
  $.ajax({
    url:url,
    dataType:"json",
    complete: function(data) {
      $("html").css("background-color", data.responseJSON.sky_color);
    }
  });
}

function updateHarvestData() {
  $.ajax({
    url:"/api/harvest_data.json?days=" + getURLParam("days"),
    dataType:"json",
    complete: function(data) {
      var response = data.responseJSON;
      $("#human-today").html(response.human_today);
      $("#hours-today").html(response.hours_today);
      $("#hours-needed-today").html(response.hours_needed_today);
      $("#done-at").html(response.done_at);

      $("#times-and-projects").empty();
      var timeAndProjectTemplate = $(
        '<li class="time-and-project">'
        + '<span class="time colored-text-'
        + coloredTextMode
        + '"></span><span class="project"></span>'
        + '</li>');
      for (var key in response.projects_and_hours_this_week) {
        var newTimeAndProject = timeAndProjectTemplate;
        newTimeAndProject.children(".time")
          .html(response.projects_and_hours_this_week[key]);
        newTimeAndProject.children(".project")
          .html(" " + key);
        $("#times-and-projects").append(newTimeAndProject[0].outerHTML);
      }
    }
  });
}

function updateColoredTextMode() {
  var oldColoredTextMode = coloredTextMode;
  var now = new Date();

  if (now.getHours() >= 21 || now.getHours() <= 5) {
    coloredTextMode = "night";
  } else {
    coloredTextMode = "day";
  }

  if (oldColoredTextMode != coloredTextMode) {
    $(".colored-text-" + oldColoredTextMode).each(function() {
      this.classList.remove("colored-text-" + oldColoredTextMode);
      this.classList.add("colored-text-" + coloredTextMode)
    });
  }

}
