var updateInterval = 60000;
$(document).ready( function() {
<%#
  $.ajax({
    url: "/api/request_from_local_network.json",
    dataType: "json",
    success: function(data) {
      if (data.responseJSON === true) {
        changeBackgroundColor(new Date());
        randomPornBackground();
        window.setInterval(randomPornBackground, 40000);
      } else {
%>
  changeBackgroundImage('<%= image_path("bg5.png") %>');
  updateHarvestData();
  changeBackgroundColor(new Date());
  $("html").css("background-size", "cover");
  $("html").css("background-position", "top left");
<%#
      }
    }
  });
%>

  $(document).on("page:fetch", startSpinner);
  $(document).on("page:receive", stopSpinner);
  window.setInterval(function() {
    changeBackgroundColor(new Date());
    updateHarvestData();
  }, updateInterval);
});

function startSpinner() {
  $("html").css("background-color", "rgb(116,0,0)");
}

function stopSpinner() {
  changeBackgroundColor(new Date());
}

function changeBackgroundImage(url) {
  $("html").css("background-image", "url(\"" + url + "\")");
}

function changeBackgroundColor(date) {
  $.ajax({
    url:"/api/sky_color.json",
    dataType:"json",
    complete: function(data) {
      $("html").css("background-color", data.responseText);
    }
  });
}

function updateHarvestData(date) {
  $.ajax({
    url:"/api/harvest_data.json",
    dataType:"json",
    complete: function(data) {
      r = data.responseJSON;
      $("#hours-today").html(r.hours_today);
      $("#hours-needed-today").html(r.hours_needed_today);
      $("#done-at").html(r.done_at);
      $("#times-and-projects").empty();
      for (var key in r.projects_and_hours_this_week) {
        $("#times-and-projects").append(
          $("<li></li>").addClass("time-and-project")
            .append($("<span></span>").addClass("time")
              .html(r.projects_and_hours_this_week[key]))
            .append($("<span></span>").addClass("project").html(" " + key))
        );
      }
    }
  });
}

<%#
function randomPornBackground() {
  $.ajax({
    url: "/api/random_porn.json",
    dataType: "json",
    success: function(data) {
      changeBackgroundImage(data);
      document.getElementById("download-background-image").href =
        data;
      $("html").css("background-size", "contain");
      $("html").css("background-position", "bottom right");
    }
  });
}
%>
