$text:rgb(220,220,220);

$colored-text-day:#FF3E3F;
$active-day:$colored-text-day;
$done-at-day:#FF003F;

$colored-text-night:rgb(220,235,200);
$active-night:$colored-text-night;
$done-at-night:#C1E691;

$text-shadow:rgba(0,0,0,0.7);
$background:rgb(21,35,42);

$cell-background-dark:rgba(40,54,49,0.7);
$cell-background-light:rgba(56,76,78,0.7);

$cell-border-light-on-light:rgba(120,120,120,0.33);
$cell-border-light-on-dark:rgba(120,120,120,0.8);
$cell-border-less-light-on-dark:rgba(120,120,120,0.15);
$cell-border-dark-on-light:rgba(30,30,30,0.8);
$cell-border-dark-on-dark:rgba(30,30,30,0.6);
$cell-border-less-dark-on-dark:rgba(30,30,30,0.6);

$optimized-readability-background:black;
