@import 'colors';

.colored-text {
  color:$colored-text;
  &#done-at {
    color:$done-at;
  }
  &a {
    color:$active;
  }
}

.colored-text.colored-text-night {
  color:$colored-text-night;
  &#done-at {
    color:$done-at-night;
  }
  &a {
    color:$active-night;
  }
}

.scrambled-time {
  opacity:0.5;
}

