@mixin tiny {
  @include narrow;
  @include optimize-readability;
  @include small-arrows;
  @include normal-weight-big-times;
  * {
    font-size:8.5vw;
  }
  .time.big {
    font-size:200%;
  }
  .div-container {
    max-width:calc(100% - 4em);
  }
  #human-today {
    font-size:140%;
  }
}

@mixin narrow {
  @include thin-weight-big-times;
  @include short-arrow-labels;
  @include fixed-arrows;
  @include arrows-touch-sides;
  @include large-arrows;
  * {
    font-size:5vw;
  }
  .div-container {
    height:100%;
    margin-top:0;
    max-width:calc(100% - 6em);
  }
  #download-background-image {
    position:inherit;
    display:block;
    text-align:right;
    height:1em;
  }
  #download-background-image {
    top:0;
  }
  #times-and-projects {
    margin:0;
    margin-top:1em;
  }
}

@mixin narrow-short {
  @include narrow;
  @include landscape;
}

@mixin medium {
  @include wide;
  @include short-arrow-labels;
  @include fixed-arrows;
  @include times-and-projects-no-padding;
  @include large-arrows;
}

@mixin medium-short {
  @include narrow-short;
}

@mixin medium-tall {
  @include wide-tall;
  @include short-arrow-labels;
  @include fixed-arrows;
  @include times-and-projects-no-padding;
  @include large-arrows;
}

@mixin wide {
  @include thin-weight-big-times;
  @include long-arrow-labels;
  @include centered-arrows;
  @include times-and-projects-padding;
  @include centered-human-today;
  @include fixed-arrows;
  @include fixed-div-container;
  @include shaded-divs;
  @include large-arrows;
}

@mixin wide-tall {
  @include wide;
  .div-container {
    margin-top:15%;
  }
}

@mixin normal-weight-big-times {
  .big.time {
    font-weight:400;
  }
}

@mixin thin-weight-big-times {
  .big.time {
    font-weight:100;
  }
}

@mixin wide-short {
  @include wide;
  @include landscape;
  body {
    margin-top:3em;
  }
  * {
    font-size:12pt;
  }
  .div-container {
    width:800px;
  }
  #times-and-projects {
    width:800px;
    margin-right:auto;
    margin-left:auto;
  }
}

@mixin centered-human-today {
  #human-today {
    display:block;
    text-align:center;
    position:absolute;
    top:0;
    left:0;
    width:100vw;
  }
}

@mixin left-human-today {
  #human-today {
    top:0;
    padding-left:10px;
    text-align:left;
    font-size:150%;
  }
}

@mixin times-and-projects-padding {
  #times-and-projects {
    padding-left:4em;
  }
}

@mixin times-and-projects-no-padding {
  #times-and-projects {
    padding-left:0;
  }
}

@mixin landscape {
  @include short-arrow-labels;
  @include centered-arrows;
  @include times-and-projects-padding;
  * {
    font-size:2vw;
  }
  .div-container {
    height:100%;
    width:100%;
    margin-top:0;
    div, div:first-child, div:last-child {
      background:none;
      border:none;
      display:inline-block;
      width:30%;
      overflow:hidden;
    }
  }
  li {
    width:50%;
    display:inline-block;
    float:left;
  }
}

@mixin long-arrow-labels {
  .forward-to-today:before, .back-to-today:after {
    content:"Today";
  }
  #last-saturday:after, #this-saturday:before {
    content:"Saturday";
  }
}

@mixin short-arrow-labels {
  .forward-to-today:before, .back-to-today:after {
    content:"T";
  }
  #last-saturday:after, #this-saturday:before {
    content:"S";
  }
}

@mixin fixed-arrows {
  #last-saturday, #this-saturday {
    top:3em;
  }
  #yesterday, #tomorrow {
    top:5em;
  }
  #today {
    top:7em;
  }
}

@mixin centered-arrows {
  #last-saturday, #this-saturday {
    top:calc(50vh - 2em);
  }
  #yesterday, #tomorrow {
    top:calc(50vh + 0em);
  }
  #today {
    top:calc(50vh + 2em);
  }
}

@mixin arrows-touch-sides {
  #yesterday, .back-to-today, #last-saturday {
    left:0;
  }
  #tomorrow, .forward-to-today, #this-saturday {
    right:0;
  }
}

@mixin small-arrows {
  #yesterday, #today, #tomorrow, #last-saturday, #this-saturday {
    font-size: 1.5em;
  }
}

@mixin large-arrows {
  #yesterday, #today, #tomorrow, #last-saturday, #this-saturday {
    font-size: 2em;
  }
}

@mixin fixed-div-container {
  .div-container {
    width:13em;
  }
}

@mixin shaded-divs {
  .div-container {
    div {
      background-color:$cell-background-light;
      border-top-width:2px;
      border-bottom-width:2px;
      border-top-style:solid;
      border-bottom-style:solid;
      border-top-color:$cell-border-light-on-light;
      border-bottom-color:$cell-border-dark-on-light;

      &:first-child, &:last-child {
        border-top-left-radius:1em;
        border-top-right-radius:3px;
        background-color:$cell-background-dark;
        border-top-width:3px;
        border-top-color:$cell-border-light-on-dark;
        border-bottom-color:$cell-border-dark-on-dark;
      }
      &:last-child {
        border-top-left-radius:0;
        border-top-right-radius:0;
        border-bottom-right-radius:1em;
        border-bottom-left-radius:3px;
        border-bottom-width:3px;
        border-top-color:$cell-border-less-light-on-dark;
        border-bottom-color:$cell-border-less-dark-on-dark;
      }
    }
  }
}

@mixin optimize-readability {
  /* FIXME: !important is only necessary because of the AJAX color changes */
  * {
    color: $optimized-readability-foreground !important;
    text-shadow: none;
  }
  html {
    background-color:$optimized-readability-background !important;
    background-image:none !important;
  }
}

@mixin pages {
  @include times-and-projects-no-padding;
  * {
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, Sans-Serif;
    color:$text;
    text-shadow:0px 0px 1.5px $text-shadow;
    box-sizing:border-box;
    transition: color 0.25s cubic-bezier(1,2.22,1,-1.43) 2s;
    *:focus {
      outline: none;
    }
  }
  html {
    background-size:contain;
    background-position:right bottom;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-blend-mode:hard-light;
    width:100%;
    height:100vh;
    background-color:$background;
    font-size:1.5rem;
    transition:background-color 2s linear;
  }
  .time {
    font-family:"Roboto Mono", "Deja Vu Sans Mono",
      "Bitstream Vera Sans Mono", "Menlo", "Monaco", "Monospace";
    text-align:center;
    line-height:1em;
    &.big {
      font-size:350%;
    }
  }
  #times-and-projects {
    margin:0;
    margin-top:1em;
  }
  .time-and-project {
    list-style-type:none;
    max-width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
  .div-container {
    display:block;
    margin-top:4em;
    margin-right:auto;
    margin-left:auto;
    div {
      padding:6px;
      span {
        display:block;
        white-space:nowrap;
      }
      span:not(.time) {
        display:block;
        &:last-child {
          text-align:right;
        }
      }
    }
  }
  a {
    text-decoration:underline;
  }
  #yesterday, #today, #tomorrow, #last-saturday, #this-saturday {
    position:fixed;
    text-decoration:none;
  }
  #yesterday, .back-to-today, #last-saturday {
    left:0.5em;
    &:before {
      content:"〈";
    }
  }
  #tomorrow, .forward-to-today, #this-saturday {
    right:0.5em;
    &:after {
      content:"〉";
    }
  }
  #download-background-image {
    position:absolute;
    top:10px;
    right:10px;
  }
  #download-background-image[href="#"] {
    display:none;
  }
  #human-today {
    font-size:2em;
    max-width:100%;
  }
}

