<!DOCTYPE html>
<html>
<head>
  <title>Tiny Harvest Dashboard</title>
  <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript"
    src="https://cdn.rawgit.com/thomas-profitt/params.js/master/params.js">
  </script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
</head>
<body>

<%= yield %>

</body>
</html>
